table {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .badge {
    padding: 5px 10px;
    font-size: 0.9rem;
  }
  table {
    border-radius: 12px;
    overflow: hidden;
  }
  
  thead th {
    text-align: center;
  }
  
  td, th {
    vertical-align: middle !important;
  }
  